@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;500;600;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif !important;
  background-color: white !important;
}

.cs-transition {
  transition: .5s !important;
}

/*Background*/
.cs-bg-main {
    background-color: hsl(243, 96%, 9%) !important;
}

.cs-bg-sec {
  background-color: hsl(243, 27%, 20%) !important;
}

.cs-bg-image {
  background-image: url('/images/bg-today-large.svg');
  background-repeat: no-repeat;
  background-size: cover; /* or 100% 100% */
  background-position: center;
}

/*Buttons*/
.cs-dropdown-menu {
  min-width: 200px !important;
}

.form-check-input[type="radio"] {
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.form-check-input:checked[type="radio"] {
  --bs-form-check-bg-image: url('/images/icon-checkmark.svg') !important; /* your custom image */
}