@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@700&display=swap');

body {
  font-family: 'DM Sans', sans-serif !important;
  background-color: white !important;
}

.cs-transition {
  transition: .3s !important;
}

.cs-cursor-pointer {
  cursor: pointer !important;
}

.cs-w {
  max-width: 820px !important;
}

.forecast-item {
  flex: 1 1 120px !important; /* grow, shrink, base width */
  max-width: 150px !important; /* optional cap */
}

/*Font*/
.cs-f-bg {
  font-family: 'Bricolage Grotesque', sans-serif !important;
}

/*Background*/
.cs-bg-main {
    background-color: hsl(243, 96%, 9%) !important;
}

.cs-bg-sec {
  background-color: hsl(243, 27%, 20%) !important;
}

.cs-bg-thr {
  background-color: hsl(243, 23%, 24%) !important;
}

.cs-bg-image {
  background-image: url('/images/bg-today-large.svg');
  background-repeat: no-repeat;
  background-size: cover; /* or 100% 100% */
  background-position: center;
}

/*Buttons*/
.cs-dropdown-menu {
  min-width: 200px !important;
}

.form-check-input[type="radio"] {
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.form-check-input:checked[type="radio"] {
  --bs-form-check-bg-image: url('/images/icon-checkmark.svg') !important; /* your custom image */
}

.cs-btn-imp {
  background-color: hsl(243, 23%, 30%) !important;
}

.cs-btn:hover {
  background-color: hsl(243, 23%, 30%) !important;
}

.cs-btn:active, .cs-btn:focus {
  outline: 2px solid white !important;
  outline-offset: 3px !important;
}

.cs-btn-sec {
  background-color: hsl(233, 67%, 56%) !important;
}

.cs-btn-sec:hover {
  background-color: hsl(248, 70%, 36%) !important;
}

.cs-btn-sec:active, .cs-btn-sec:focus {
  outline: 2px solid hsl(233, 67%, 56%) !important;
  outline-offset: 3px !important;
}

.cs-list-item {
  border-color: transparent !important;
}

.cs-list-item:hover {
  background-color: hsl(243, 23%, 30%) !important;
  border-color: gainsboro !important;
}

/*Forms*/
.cs-form-control::placeholder {
  color: white !important;
}

.cs-input-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  position: relative; /* Needed for outline or box-shadow to behave properly */
}

.cs-input-wrapper.focused {
  outline: 2px solid white;
  outline-offset: 3px;
  transition: outline 0.3s ease, outline-offset 0.3s ease;
}